::ng-deep .title:nth-child(2) {
  color: blue !important;
  cursor: pointer;
}

.content-headerb {
  background-color: #fff;
  border-radius: 15px;
  margin-bottom: 24px;
  padding: 24px 24px 18px 4px;

  .item {
    padding-top: 0px;
    padding-bottom: 6px;
    padding-left: 20px;
    padding-right: 20px;
    min-height: 40px;
    font-size: 0.875rem;

    ::ng-deep .input-group {
      width: 77%;
      float: left;
    }

    .text-note {
      align-items: center;
      display: flex;
      color: rgb(255, 0, 0);
      font-size: 0.875rem;
      padding: 2px 5px;
      min-height: 35px;
      border-radius: 3px
    }
  }
}