<text-directory text="선불카드발행"></text-directory>
<ng-form #f="ngForm">
    <div class="content-headerb">
        <div class="container">
            <div class="row ">

                <div class="col-9 item">
                    <span>[{{idHeader | number:'2.0-0' }} - {{titleHeader}}] (발행완료된 선불카드는 수정 및 삭제 불가능)</span>

                </div>
                <div class="col-3 item">
                    <app-button text="등록"></app-button>
                    <app-button text="수정"></app-button>
                    <app-button text="삭제"></app-button>
                    <app-button text="초기화"></app-button>
                    <app-button (click)="return()" text="돌아가기"></app-button>
                </div>

                <div class=" col-4 item">
                    <my-input label="발행매수"></my-input>
                    <span class="text-note">(최대 10000장)</span>
                </div>
                <div class="col-4 item">
                    <combo-input label="발행매수"></combo-input>
                    <span class="text-note">(10자리숫자)</span>
                </div>
                <div class="col-4 item">
                    <my-input label="유효기간 "></my-input>
                    <span class="text-note">(예:20020802)</span>
                </div>


            </div>
        </div>

    </div>
</ng-form>

<div class="contents-body astems">

    <dx-accordion [animationDuration]="300"
                  [collapsible]="true"
                  [multiple]="false"
    >
        <dxi-item>
            <span *ngIf="themText === 'Y'" class="them"></span>
            <div class="grid">

                <dx-data-grid #mainGrid
                              (onCellClick)="handleCellClick($event)"
                              (onExporting)="gridUtil.onPageExportXlsx($event)"
                              (onToolbarPreparing)="gridUtil.onToolbarPreparingWithComBtn($event, this, addClick, deleteClick)"
                              [allowColumnReordering]="true"
                              [allowColumnResizing]="true"
                              [columnAutoWidth]="true"
                              [dataSource]="dataTest"
                              [focusedRowEnabled]="true"
                              [rowAlternationEnabled]="true"
                              [showRowLines]="true"
                              columnResizingMode=nextColumn
                              keyExpr="id"
                >
                    <dxo-editing

                            mode="cell">
                    </dxo-editing>
                    <dxo-load-panel [enabled]="true"></dxo-load-panel>
                    <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
                    <dxo-export [allowExportSelectedData]="true" [enabled]="true"></dxo-export>
                    <dxo-search-panel [placeholder]="''"
                                      [visible]="true"
                                      [width]="240">
                    </dxo-search-panel>


                    <dxi-column [allowEditing]="false" [allowSearch]="false"
                                [showInColumnChooser]="false"
                                [visible]="false"
                                caption="UID"
                                dataField="uid">
                    </dxi-column>
                    <dxi-column [allowEditing]="false" [allowSearch]="false"
                                [showInColumnChooser]="false"
                                [visible]="false"
                                caption="tenant"
                                dataField="tenant">
                    </dxi-column>
                    <!--                    <dxi-column *ngFor="let item of dataTitle"-->
                    <!--                                alignment="center"-->
                    <!--                                caption="{{item.title}}"-->
                    <!--                                dataField="{{item.dataField}}"-->
                    <!--                    > <dxi-button name="edit"></dxi-button>-->

                    <!--                    </dxi-column>-->
                    <dxi-column *ngFor="let item of dataTitle"
                                alignment="center" caption="{{item.title}}"
                                cssClass="{{item.cssClass}}" dataField="{{item.dataField}}"
                    ></dxi-column>


                </dx-data-grid>
            </div>


        </dxi-item>
    </dx-accordion>
</div>
