.content-headerb {
  background-color: #fff;
  border-radius: 15px;
  margin-bottom: 24px;
  padding: 24px 24px 18px 4px;

  .item {
    padding-top: 0px;
    padding-bottom: 6px;
    padding-left: 20px;
    padding-right: 20px;
    min-height: 40px;
  }


}
