.btnn {
  border: 0;
  background: #ffe5cc;
  text-align: center;
  border-radius: 4px;
  font-size: 0.875rem;
  font-weight: 400;
  color: #fe7f00;
  height: 35px;
  overflow: hidden;
  padding: 4px 10px;
  margin-left: 5px;
}

.button {
  display: block;
  float: right;
}