::ng-deep .pop-item-box .dx-form-group-caption {
  border-bottom: 1px solid #e7eaf1;
  margin-bottom: 30px;
}

.dx-popup-content {
  padding: 20px;
}

.dx-scrollable {
  height: 300px;
  overflow-y: auto;
}

.dx-scrollable-scroll-content {
  padding: 10px;
}
