<text-directory text="메인화면"></text-directory>
<div class="content-headerb">
    <div class="container">
        <div class="row ">

            <div class="col-6 item">
                <span>◑ 수정 : 분류명칭 클릭 후 [저장]버튼</span>
            </div>
            <div class="col-6 item">
                <span>◑ 삭제 : 체크박스에서 선택 후 [삭제]버튼 (등록상품이 없는 경우만 삭제가능)</span>
            </div>

            <div class=" col-6 item">
                <span>◑ 상품 분류이동 : 소분류에서 상품수를 클릭 후 팝업창에서 수정</span>
            </div>

        </div>
    </div>

</div>
<div class="content row">
    <div class="col-4">

        <div class="search_foldable">
            <div class="search-box">
                <dx-form #mainForm
                         [colCountByScreen]="{lg:3, md: 3, sm:2, xs:1}"
                         [minColWidth]="300"
                         [showColonAfterLabel]="false"
                         class="search-form-box">
                    <dxi-item [colCount]="3" [colSpan]="3" itemType="group">

                        <dxi-item [visible]="false"
                                  dataField="tenant">
                        </dxi-item>
                        <dxi-item [colCount]="1" [colSpan]="3" itemType="group">
                            <dxi-item [label]="{text:'대분류명칭'}"
                                      dataField="codeCategory"></dxi-item>

                            <dxi-item [visible]="false"
                                      dataField="model"></dxi-item>
                            <dxi-item [visible]="false"
                                      dataField="flag"></dxi-item>
                        </dxi-item>

                    </dxi-item>
                </dx-form>
                <div class="search-btn-group">
                    <dx-button (onClick)="onSave1()"
                               [focusStateEnabled]="false"
                               class="search-btn"
                               text="저 장"
                               type="form">
                    </dx-button>

                    <dx-button (onClick)="onDelete1()"
                               [focusStateEnabled]="false"
                               text="삭 제"
                               type="form">
                    </dx-button>
                    <dx-button (onClick)="onReset1()"
                               [focusStateEnabled]="false"
                               text="초기화"
                               type="form">
                    </dx-button>

                </div>
            </div>

            <div class="foldable-btn">
                <dx-button #foldableBtn (onClick)="utilService.onFoldable(this.mainForm, this.foldableBtn)"
                           type="default">
                </dx-button>
            </div>
        </div>

        <div class="contents-body astems">

            <dx-accordion [animationDuration]="300"
                          [collapsible]="true"
                          [multiple]="false"
            >
                <dxi-item>
                    <div class="grid">

                        <dx-data-grid #mainGrid
                                      (onCellClick)="handleCellClick($event)"
                                      (onExporting)="gridUtil.onPageExportXlsx($event)"
                                      (onSelectionChanged)="handleSelectionChanged($event)"
                                      (onToolbarPreparing)="gridUtil.onToolbarPreparingWithComBtn($event, this, addClick, deleteClick)"
                                      [allowColumnReordering]="true"
                                      [allowColumnResizing]="true"
                                      [columnAutoWidth]="true"
                                      [dataSource]="dataTest"
                                      [focusedRowEnabled]="true"
                                      [height]="740"
                                      [rowAlternationEnabled]="true"
                                      [showRowLines]="true"
                                      class="aaaaa"
                                      columnResizingMode=nextColumn
                                      keyExpr="id"
                        >
                            <dxo-load-panel [enabled]="true"></dxo-load-panel>
                            <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
                            <dxo-export [allowExportSelectedData]="true" [enabled]="true"></dxo-export>
                            <dxo-search-panel [placeholder]="''"
                                              [visible]="true"
                                              [width]="240">
                            </dxo-search-panel>


                            <dxi-column [allowEditing]="false" [allowSearch]="false"
                                        [showInColumnChooser]="false"
                                        [visible]="false"
                                        caption="UID"
                                        dataField="uid">
                            </dxi-column>
                            <dxi-column [allowEditing]="false" [allowSearch]="false"
                                        [showInColumnChooser]="false"
                                        [visible]="false"
                                        caption="tenant"
                                        dataField="tenant">
                            </dxi-column>
                            <dxo-selection mode="multiple"></dxo-selection>
                            <dxi-column [width]="40" alignment="center" caption="No" cellTemplate="NoTemplate"
                                        name="No"></dxi-column>
                            <div *dxTemplate="let data of 'NoTemplate'">
                                {{ data.rowIndex + 1}}
                            </div>

                            <dxi-column *ngFor="let item of dataTitle"
                                        alignment="center" caption="{{item.title}}"
                                        cssClass="{{item.cssClass}}" dataField="{{item.dataField}}"
                            ></dxi-column>


                        </dx-data-grid>
                    </div>


                </dxi-item>
            </dx-accordion>
        </div>

    </div>
    <div class="col-4">

        <div class="search_foldable">
            <div class="search-box">
                <dx-form #mainForm1
                         [colCountByScreen]="{lg:3, md: 3, sm:2, xs:1}"
                         [minColWidth]="300"
                         [showColonAfterLabel]="false"
                         class="search-form-box">
                    <dxi-item [colCount]="3" [colSpan]="3" itemType="group">

                        <dxi-item [visible]="false"
                                  dataField="tenant">
                        </dxi-item>
                        <dxi-item [colCount]="1" [colSpan]="3" itemType="group">
                            <dxi-item [label]="{text:'중분류명칭'}"
                                      dataField="codeCategory"></dxi-item>

                            <dxi-item [visible]="false"
                                      dataField="model"></dxi-item>
                            <dxi-item [visible]="false"
                                      dataField="model1"></dxi-item>
                            <dxi-item [visible]="false"
                                      dataField="flag"></dxi-item>
                        </dxi-item>

                    </dxi-item>
                </dx-form>
                <div class="search-btn-group">
                    <dx-button (onClick)="onSave2()"
                               [focusStateEnabled]="false"
                               class="search-btn"
                               text="저 장"
                               type="form">
                    </dx-button>

                    <dx-button (onClick)="onDelete2()"
                               [focusStateEnabled]="false"
                               text="삭 제"
                               type="form">
                    </dx-button>
                    <dx-button (onClick)="onReset2()"
                               [focusStateEnabled]="false"
                               text="초기화"
                               type="form">
                    </dx-button>

                </div>
            </div>

            <div class="foldable-btn">
                <dx-button #foldableBtn (onClick)="utilService.onFoldable(this.mainForm, this.foldableBtn)"
                           type="default">
                </dx-button>
            </div>
        </div>

        <div class="contents-body astems">

            <dx-accordion [animationDuration]="300"
                          [collapsible]="true"
                          [multiple]="false"
            >
                <dxi-item>
                    <div class="grid">

                        <dx-data-grid #mainGrid1
                                      (onCellClick)="handleCellClick1($event)"
                                      (onExporting)="gridUtil.onPageExportXlsx($event)"
                                      (onSelectionChanged)="handleSelectionChanged1($event)"
                                      (onToolbarPreparing)="gridUtil.onToolbarPreparingWithComBtn($event, this, addClick, deleteClick)"
                                      [allowColumnReordering]="true"
                                      [allowColumnResizing]="true"
                                      [columnAutoWidth]="true"
                                      [dataSource]="data2"
                                      [focusedRowEnabled]="true"
                                      [height]="740"
                                      [rowAlternationEnabled]="true"
                                      [showRowLines]="true"
                                      class="aaaaa"
                                      columnResizingMode=nextColumn
                                      keyExpr="id"
                        >
                            <dxo-load-panel [enabled]="true"></dxo-load-panel>
                            <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
                            <dxo-export [allowExportSelectedData]="true" [enabled]="true"></dxo-export>
                            <dxo-search-panel [placeholder]="''"
                                              [visible]="true"
                                              [width]="240">
                            </dxo-search-panel>


                            <dxi-column [allowEditing]="false" [allowSearch]="false"
                                        [showInColumnChooser]="false"
                                        [visible]="false"
                                        caption="UID"
                                        dataField="uid">
                            </dxi-column>
                            <dxi-column [allowEditing]="false" [allowSearch]="false"
                                        [showInColumnChooser]="false"
                                        [visible]="false"
                                        caption="tenant"
                                        dataField="tenant">
                            </dxi-column>
                            <dxo-selection mode="multiple"></dxo-selection>
                            <dxi-column [width]="40" alignment="center" caption="No" cellTemplate="NoTemplate"
                                        name="No"></dxi-column>
                            <div *dxTemplate="let data of 'NoTemplate'">
                                {{ data.rowIndex + 1}}
                            </div>
                            <dxi-column *ngFor="let item of dataTitle1"
                                        alignment="center" caption="{{item.title }}"
                                        cssClass="{{item.cssClass}}" dataField="{{item.dataField}}"
                            ></dxi-column>


                        </dx-data-grid>
                    </div>


                </dxi-item>
            </dx-accordion>
        </div>

    </div>
    <div class="col-4">

        <div class="search_foldable">
            <div class="search-box">
                <dx-form #mainForm2
                         [colCountByScreen]="{lg:3, md: 3, sm:2, xs:1}"
                         [minColWidth]="300"
                         [showColonAfterLabel]="false"
                         class="search-form-box">
                    <dxi-item [colCount]="3" [colSpan]="3" itemType="group">

                        <dxi-item [visible]="false"
                                  dataField="tenant">
                        </dxi-item>
                        <dxi-item [colCount]="1" [colSpan]="3" itemType="group">
                            <dxi-item [label]="{text:'소분류명칭 '}"
                                      dataField="col1"></dxi-item>

                            <dxi-item [visible]="false"
                                      dataField="model1"></dxi-item>
                            <dxi-item [visible]="false"
                                      dataField="flag"></dxi-item>
                        </dxi-item>

                    </dxi-item>
                </dx-form>
                <div class="search-btn-group">
                    <dx-button (onClick)="onSave3()"
                               [focusStateEnabled]="false"
                               class="search-btn"
                               text="저 장"
                               type="form">
                    </dx-button>

                    <dx-button (onClick)="onDelete3()"
                               [focusStateEnabled]="false"
                               text="삭 제"
                               type="form">
                    </dx-button>
                    <dx-button (onClick)="onReset3()"
                               [focusStateEnabled]="false"
                               text="초기화"
                               type="form">
                    </dx-button>

                </div>
            </div>

            <div class="foldable-btn">
                <dx-button #foldableBtn (onClick)="utilService.onFoldable(this.mainForm, this.foldableBtn)"
                           type="default">
                </dx-button>
            </div>
        </div>
        <div class="contents-body astems">

            <dx-accordion [animationDuration]="300"
                          [collapsible]="true"
                          [multiple]="false"
            >
                <dxi-item>
                    <div class="grid">

                        <dx-data-grid #mainGrid2
                                      (onCellClick)="handleCellClick2($event)"
                                      (onExporting)="gridUtil.onPageExportXlsx($event)"
                                      (onSelectionChanged)="handleSelectionChanged2($event)"
                                      (onToolbarPreparing)="gridUtil.onToolbarPreparingWithComBtn($event, this, addClick, deleteClick)"
                                      [allowColumnReordering]="true"
                                      [allowColumnResizing]="true"
                                      [columnAutoWidth]="true"
                                      [dataSource]="data2"
                                      [focusedRowEnabled]="true"
                                      [height]="740"
                                      [rowAlternationEnabled]="true"
                                      [showRowLines]="true"
                                      class="aaaaa"
                                      columnResizingMode=nextColumn
                                      keyExpr="id"
                        >
                            <dxo-load-panel [enabled]="true"></dxo-load-panel>
                            <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
                            <dxo-export [allowExportSelectedData]="true" [enabled]="true"></dxo-export>
                            <dxo-search-panel [placeholder]="''"
                                              [visible]="true"
                                              [width]="240">
                            </dxo-search-panel>


                            <dxi-column [allowEditing]="false" [allowSearch]="false"
                                        [showInColumnChooser]="false"
                                        [visible]="false"
                                        caption="UID"
                                        dataField="uid">
                            </dxi-column>
                            <dxi-column [allowEditing]="false" [allowSearch]="false"
                                        [showInColumnChooser]="false"
                                        [visible]="false"
                                        caption="tenant"
                                        dataField="tenant">
                            </dxi-column>
                            <dxo-selection mode="multiple"></dxo-selection>
                            <dxi-column [width]="40" alignment="center" caption="No" cellTemplate="NoTemplate"
                                        name="No"></dxi-column>
                            <div *dxTemplate="let data1 of 'NoTemplate'">
                                {{ data1.rowIndex + 1}}
                            </div>

                            <dxi-column *ngFor="let item of dataTitle2"
                                        alignment="center"
                                        caption="{{item.title}}" cssClass="{{item.cssClass}}"
                                        dataField="{{item.dataField}}"
                            ></dxi-column>


                        </dx-data-grid>
                    </div>


                </dxi-item>
            </dx-accordion>
        </div>

    </div>
</div>
