.content {
  width: 100%;
  padding: 0px;
  font-size: 0.875rem;

  .content1 {
    width: 30%;
    float: left;
  }


}


::ng-deep .title {
  color: blue !important;
  cursor: pointer;
}

::ng-deep .aaaaa {
  height: 305px !important;
}

::ng-deep .astems .dx-datagrid-header-panel {
  display: none;
}

::ng-deep .astems .dx-accordion-item-title {
  display: none !important;
}

.content-headerb {
  background-color: #fff;
  border-radius: 15px;
  margin-bottom: 24px;
  padding: 24px 24px 18px 4px;

  .item {
    padding-top: 0px;
    padding-bottom: 6px;
    padding-left: 20px;
    padding-right: 20px;
    min-height: 40px;
    font-size: 0.875rem;


    .text-note {
      align-items: center;
      display: flex;
      font-size: 0.875rem;
      padding: 2px 5px;
      min-height: 35px;
      border-radius: 3px
    }
  }
}