<div class="input-group flex-nowrap ">
    <span class="text-input">{{label}}</span>
    <div class="combo-select max-width-100">
        <div class="col-4 float-start ">
            <select class="form-select">
                <option selected>{{optionsl1}}</option>
                <option value="1">Option 1</option>
                <option value="2">Option 2</option>
                <option value="3">Option 3</option>
            </select>
        </div>
        <div class="col-4 float-start ps-2 {{colCount1}}">
            <select class="form-select ">
                <option selected>{{optionsl1}}</option>
                <option value="1">Option 1</option>
                <option value="2">Option 2</option>
                <option value="3">Option 3</option>
            </select>
        </div>
        <div class="col-4 float-start ps-2  {{colCount2}}">
            <select class="form-select ">
                <option selected>{{optionsl1}}</option>
                <option value="1">Option 1</option>
                <option value="2">Option 2</option>
                <option value="3">Option 3</option>
            </select>
        </div>

    </div>

</div>
