<dx-popup #popup
          [dragEnabled]="true"
          [title]="utilService.convert1('mm.user.btn.chnPwd', '비밀번호 변경')"
          (onHidden)="onHidden()"
          height="320px"
          width="400px"
>
  <dxi-toolbar-item toolbar="bottom" location="after">
    <dx-button type="success"
               [text]="utilService.convert1('com.btn.save', '저장')"
               (onClick)="save()">
    </dx-button>
    <dx-button type="border"
               [text]="utilService.convert1('com.btn.close', '닫기')"
               (onClick)="close()">
    </dx-button>
  </dxi-toolbar-item>

  <dx-form #popupForm
           [showColonAfterLabel]="false"
           labelLocation="left"
  >
    <dxi-item itemType="group" cssClass="pop-item-box no-border">
      <dxi-item dataField="password"
                [editorOptions]="{mode: 'password'}"
                [label]="{text: utilService.convert1('mm.user.currentPwd', '현재 비밀번호')}">
        <dxi-validation-rule
          type="required"
          [message]="utilService.convert('com.valid.required', utilService.convert1('mm.user.currentPwd', '현재 비밀번호'))">
        </dxi-validation-rule>
      </dxi-item>
      <dxi-item dataField="changePassword"
                [editorOptions]="{mode: 'password'}"
                [label]="{text: utilService.convert1('mm.user.newPwd', '새로운 비밀번호')}">
        <dxi-validation-rule
          type="required"
          [message]="utilService.convert('com.valid.required', utilService.convert1('mm.user.newPwd', '새로운 비밀번호'))">
        </dxi-validation-rule>
      </dxi-item>
      <dxi-item dataField="checkPassword"
                [editorOptions]="{mode: 'password'}"
                [label]="{text: utilService.convert1('mm.user.confirmPwd', '새 비밀번호 확인')}">
        <dxi-validation-rule
          type="required"
          [message]="utilService.convert('com.valid.required', utilService.convert1('mm.user.confirmPwd', '새 비밀번호 확인'))">
        </dxi-validation-rule>
        <dxi-validation-rule
          type="compare"
          [comparisonTarget]="passwordComparison"
          [message]="utilService.convert('mm.user.changPwd.confirmMsg')">
        </dxi-validation-rule>
      </dxi-item>
    </dxi-item>
  </dx-form>
</dx-popup>
