<!-- 입고 > 적치지시 -->

<div class="contents-header">
  <dx-button #bookmarkBtn
             class="bookmark-btn"
             (onClick)="utilService.onBookmarkToggle(this.bookmarkBtn)"
  ></dx-button>
  <h2 class="content-block page-title">{{utilService.convert('/rcv/rcvinstruct')}}</h2>
  <span class="page-breadcrumb">{{utilService.getPagePath()}}</span>
  <span class="btngroup page-button-group">

   <dx-button icon="add"
              id="Open"
              type="default"
              [text]="utilService.convert1('com.btn.new', '신규')"
              (onClick)="onNew($event)">
    </dx-button>
  </span>
</div>

<div class="contents-body">
  <div class="search_foldable">
    <div class="search-box">
      <dx-form #mainForm
               class="search-form-box"
               [showColonAfterLabel]="false"
               [(formData)]="mainFormData"
               [minColWidth]="300"
               [colCount]="3"
      >
        <dxi-item itemType="group" [colCount]="3" [colSpan]="3">
          <!--          tenant-->
          <dxi-item dataField="tenant" [label]="{text: 'Tenant'}" [visible]="false"
                    [editorOptions]="{ value: G_TENANT }"></dxi-item>
          <!--          rcvKey-->
          <dxi-item dataField="rcvKey" [label]="{text: '입고번호'}" [colSpan]="1"></dxi-item>
          <!--          rcvSchDate-->
          <dxi-item itemType="group" [label]="{text: '입고예정일자'}"
                    cssClass="fromtocalendar" [colCount]="2" [colSpan]="1">
            <dxi-item dataField="fromRcvSchDate"
                      cssClass="fromcalendar"
                      editorType="dxDateBox"
                      [label]="{visible: false}"
                      [editorOptions]="{ useMaskBehavior:'true', displayFormat:'yyyy-MM-dd', dateSerializationFormat: 'yyyy-MM-dd'}">
            </dxi-item>
            <dxi-item dataField="toRcvSchDate"
                      cssClass="tocalendar"
                      editorType="dxDateBox"
                      [label]="{text: '~'}"
                      [editorOptions]="{ useMaskBehavior:'true', displayFormat:'yyyy-MM-dd', dateSerializationFormat: 'yyyy-MM-dd'}">
            </dxi-item>
          </dxi-item>
          <!--          receiveDate-->
          <dxi-item itemType="group" [label]="{text: '입고실적일자'}"
                    cssClass="fromtocalendar" [colCount]="2" [colSpan]="1">
            <dxi-item dataField="fromReceiveDate"
                      cssClass="fromcalendar"
                      editorType="dxDateBox"
                      [label]="{visible: false}"
                      [editorOptions]="{ useMaskBehavior:'true', displayFormat:'yyyy-MM-dd', dateSerializationFormat: 'yyyy-MM-dd'}">
            </dxi-item>
            <dxi-item dataField="toReceiveDate"
                      cssClass="tocalendar"
                      editorType="dxDateBox"
                      [label]="{text: '~'}"
                      [editorOptions]="{ useMaskBehavior:'true', displayFormat:'yyyy-MM-dd', dateSerializationFormat: 'yyyy-MM-dd'}">
            </dxi-item>
          </dxi-item>
          <!--sts-->
          <dxi-item dataField="sts" [label]="{text:'입고상태'}"
                    editorType="dxSelectBox"
                    [colSpan]="1"
                    [editorOptions]="{
                                      items: dsRcvStatus,
                                      displayExpr: 'display',
                                      valueExpr: 'code',
                                      searchMode:'contains',
                                      searchEnabled: true,
                                      showClearButton: true,
                                      openOnFieldClick: false,
                                      minSearchLength: 0,
                                      placeholder: '',
                                      noDataText: utilService.convert('com_txt_noDataText')
                                      }"></dxi-item>
          <!--          rcvTypecd-->
          <dxi-item dataField="rcvTypecd" [colSpan]="1"
                    editorType="dxSelectBox"
                    [label]="{text:'입고유형'}"
                    [editorOptions]="{  items: dsRcvType,
                                            displayExpr: 'display',
                                            valueExpr: 'code',
                                            searchMode:'contains',
                                            searchEnabled: true,
                                            showClearButton: true,
                                            openOnFieldClick: false,
                                            minSearchLength: 0,
                                            placeholder: '',
                                            noDataText: utilService.convert('com_txt_noDataText')
                                          }">
          </dxi-item>
          <!--          supplierId-->
          <dxi-item dataField="supplierId" [colSpan]="1"
                    editorType="dxSelectBox"
                    [label]="{text: '공급처'}"
                    [editorOptions]="{  items: dsSupplier,
                                            displayExpr: 'display',
                                            valueExpr: 'code',
                                            searchMode:'contains',
                                            searchEnabled: true,
                                            showClearButton: true,
                                            openOnFieldClick: false,
                                            minSearchLength: 0,
                                            placeholder: '',
                                            noDataText: utilService.convert('com_txt_noDataText')
                                          }">
          </dxi-item>

          <!--          warehouseId-->

          <dxi-item dataField="warehouseId"
                    [label]="{text: utilService.convert1('rcv.warehouseId', '창고', 'warehouse')}"
                    editorType="dxSelectBox" [disabled]="true" [colSpan]="1" [editorOptions]="{
                                      items: dsWarehouse,
                                      displayExpr: 'display',
                                      valueExpr: 'uid',
                                      searchMode:'contains',
                                      searchEnabled: true,
                                      showClearButton: true,
                                      openOnFieldClick: false,
                                      minSearchLength: 0,
                                      placeholder: '',
                                      noDataText: utilService.convert('com_txt_noDataText')
                                      }"></dxi-item>
          <!--          ownerId-->
          <dxi-item dataField="ownerId" [label]="{text: utilService.convert1('rcv.ownerId', '화주', 'Owner')}"
                    editorType="dxSelectBox" [disabled]="true" [colSpan]="1" [editorOptions]="{
                                      items: dsOwner,
                                      displayExpr: 'display',
                                      valueExpr: 'uid',
                                      searchMode:'contains',
                                      searchEnabled: true,
                                      showClearButton: true,
                                      openOnFieldClick: false,
                                      minSearchLength: 0,
                                      placeholder: '',
                                      noDataText: utilService.convert('com_txt_noDataText')
                                      }"></dxi-item>


        </dxi-item>
      </dx-form>
      <div class="search-btn-group">
        <dx-button icon="refresh"
                   type="form"
                   [text]="utilService.convert('com_btn_reset')"
                   class="reset-btn"
                   (onClick)="onReset()"
        ></dx-button>
        <dx-button icon="search"
                   type="form"
                   [text]="utilService.convert('com_btn_search')"
                   class="search-btn"
                   [focusStateEnabled]="false"
                   (onClick)="onSearch()"
        ></dx-button>
      </div>
    </div>
    <div class="foldable-btn">
      <dx-button #foldableBtn type="default"
                 (onClick)="utilService.onFoldable(this.mainForm, this.foldableBtn)"></dx-button>
    </div>
  </div>
  <!--Grid-->
  <dx-accordion
    [collapsible]="true"
    [multiple]="true"
    [animationDuration]="300">
    <dxi-item [title]="utilService.convert('rcvAcceptList')">
      <dx-data-grid
        #mainGrid
        [dataSource]="mainDataSource"
        (onToolbarPreparing)="gridUtil.onToolbarPreparing($event)"
        (onRowDblClick)="onRowDblClick($event)"
        [allowColumnResizing]="true"
        [columnAutoWidth]="true"
        [focusedRowEnabled]="true"
        [showRowLines]="true"
        [rowAlternationEnabled]="true"
        [allowColumnReordering]="true"
        [height]="440"
        (onExporting)="gridUtil.onPageExportXlsx($event)"
        columnResizingMode=nextColumn
      >
        <dxo-editing mode="batch"></dxo-editing>
        <!-- 단건 선택 -->
        <dxo-selection mode="single" selectAllMode="allPages">
        </dxo-selection>    <!-- single, multiple -->
        <dxo-load-panel [enabled]="true"></dxo-load-panel>
        <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
        <dxo-export [enabled]="true" [allowExportSelectedData]="true"></dxo-export>
        <dxo-search-panel
          [visible]="true"
          [width]="240"
          [placeholder]="''"></dxo-search-panel>
        <dxo-paging [enabled]="true" [pageSize]=gridUtil.getMainGridPageSize()></dxo-paging>
        <dxo-pager
          [visible]="true"
          [allowedPageSizes]=gridUtil.getAllowedPageSize()
          [displayMode]="'full'"
          [showPageSizeSelector]="true"
          [showInfo]="true"
          [showNavigationButtons]="true"
        >
        </dxo-pager>

        <!--        uid-->
        <dxi-column dataField="uid" caption="UID" [visible]="false" [allowSearch]="false"
                    [showInColumnChooser]="false" [allowEditing]="false"></dxi-column>
        <!--        tenant-->
        <dxi-column dataField="tenant" caption="tenant" [visible]="false" [allowSearch]="false"
                    [showInColumnChooser]="false" [allowEditing]="false"></dxi-column>

        <!--        rcvkey-->
        <dxi-column dataField="rcvKey" caption="입고번호"
                    alignment="center"></dxi-column>
        <!--        sts-->
        <dxi-column dataField="sts" [caption]="utilService.convert('rcv.sts')" alignment="center">
          <dxo-lookup [dataSource]=dsRcvStatus displayExpr="display" valueExpr="code"></dxo-lookup>
        </dxi-column>
        <!--          acceptKey-->

        <dxi-column dataField="acceptKey" caption="입고접수번호"
                    alignment="center"></dxi-column>
        <!--            rcvTypecd-->
        <dxi-column dataField="rcvTypecd" caption="입고타입"
                    alignment="center"></dxi-column>
        <!--        rcvSchDate-->

        <dxi-column dataField="rcvSchDate" caption="입고예정일"
                    alignment="center"></dxi-column>
        <!--        receiveDate-->
        <dxi-column dataField="receiveDate" caption="입고실적일"
                    alignment="center"></dxi-column>
        <!--        supplierId-->
        <dxi-column dataField="supplierId" caption="거래처"
                    alignment="left"></dxi-column>
        <!--        rcvSumItemCount-->

        <dxi-column dataField="rcvSumItemCount" caption="총품목수"
                    alignment="right"></dxi-column>
        <!--        rcvSumQty1-->
        <dxi-column dataField="rcvSumQty1" caption="총품목수량"
                    alignment="right"></dxi-column>
        <!--        actFlag-->
        <dxi-column dataField="actFlag" caption="사용여부"
                    alignment="center"></dxi-column>
        <!--        remarks-->
        <dxi-column dataField="remarks"
                    [caption]="utilService.convert1('rcvAccept.remarks', '비고')"></dxi-column>

        <dxi-column dataField="createdBy" [caption]="utilService.convert('com_text_createdBy')"
                    [allowEditing]="false" [visible]="true">
          <dxo-lookup [dataSource]=dsUser displayExpr="name" valueExpr="uid"></dxo-lookup>
        </dxi-column>
        <dxi-column dataField="createdDatetime" [caption]="utilService.convert('com_text_createdDatetime')"
                    [allowEditing]="false" [visible]="true"></dxi-column>

        <dxi-column dataField="modifiedBy" [caption]="utilService.convert('com_text_modifiedBy')"
                    [allowEditing]="false" [visible]="true">
          <dxo-lookup [dataSource]=dsUser displayExpr="name" valueExpr="uid"></dxo-lookup>
        </dxi-column>
        <dxi-column dataField="modifiedDatetime" [caption]="utilService.convert('com_text_modifiedDatetime')"
                    [allowEditing]="false" [visible]="true"></dxi-column>
      </dx-data-grid>
    </dxi-item>
  </dx-accordion>
</div>
