<text-directory text="수주현황 5-5-1"></text-directory>
<ng-form #mainForm>
    <div class="content-headerb">
        <div class="container">
            <div class="row ">

                <div class="col-3 item">
                    <my-select label="조회기준" optionsl="주문일자"></my-select>
                </div>
                <div class=" col-4 item">
                    <my-date></my-date>
                </div>

                <div class="col-3 item">
                    <my-select label="매장선택" optionsl="전 체"></my-select>
                </div>
                <div class=" col-2 item">
                    <my-select label="주문구분 " optionsl="전 체"></my-select>
                </div>
                <div class=" col-3 item">
                    <my-input label="진행상태 " optionsl="전 체"></my-input>
                </div>
                <div class=" col-4 item">
                    <my-select label="전표구분 " optionsl="전 체"></my-select>
                </div>

                <div class=" col-5 item">
                    <app-button text="조 회"></app-button>
                    <app-button text="엑 셀"></app-button>
                    <app-button text="거래명세서인쇄"></app-button>

                </div>
            </div>
        </div>

    </div>
</ng-form>

<div class="contents-body">


    <dx-accordion [animationDuration]="300"
                  [collapsible]="true"
                  [multiple]="false"
    >
        <dxi-item [title]="utilService.convert1('mm.code.mainGridTitle', '공통코드 리스트')">
            <span *ngIf="themText === 'Y'" class="them"></span>
            <dx-data-grid #mainGrid
                          (onCellClick)="handleCellClick($event)"
                          (onExporting)="gridUtil.onPageExportXlsx($event)"
                          (onRowDblClick)="onRowDblClick($event)"
                          (onToolbarPreparing)="gridUtil.onToolbarPreparing($event)"
                          [allowColumnReordering]="true"
                          [allowColumnResizing]="true"
                          [columnAutoWidth]="true"
                          [focusedRowEnabled]="true"
                          [rowAlternationEnabled]="true"
                          [showRowLines]="true"
                          columnResizingMode=nextColumn
            >
                <dxo-editing mode="batch"></dxo-editing>
                <dxo-load-panel [enabled]="true"></dxo-load-panel>
                <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
                <dxo-export [allowExportSelectedData]="true" [enabled]="true"></dxo-export>
                <dxo-search-panel [placeholder]="''"
                                  [visible]="true"
                                  [width]="240">
                </dxo-search-panel>
                <dxo-paging [enabled]="true" [pageSize]=gridUtil.getPageSize()></dxo-paging>
                <dxo-pager [allowedPageSizes]=gridUtil.getAllowedPageSize()
                           [displayMode]="'full'"
                           [showInfo]="true"
                           [showNavigationButtons]="true"
                           [showPageSizeSelector]="true"
                           [visible]="true">
                </dxo-pager>
                <dxo-state-storing [customLoad]="loadStateMain"
                                   [customSave]="saveStateMain"
                                   [enabled]="true"
                                   type="custom">
                </dxo-state-storing>

                <dxo-selection
                        caption="UID"
                        dataField="uid">
                </dxo-selection>
                <dxi-column [allowEditing]="false" [allowSearch]="false"
                            [showInColumnChooser]="false"
                            [visible]="false"
                            caption="tenant"
                            dataField="tenant">
                </dxi-column>

                <!--                <dxi-column [caption]="utilService.convert1('mm.code.codeCategory', 'ID')"-->
                <!--                            dataField="codeCategory"></dxi-column>-->
                <!--                <dxi-column [caption]="utilService.convert1('mm.code.name', '공통코드명')" dataField="name"></dxi-column>-->
                <!--                <dxi-column [caption]="utilService.convert1('mm.code.remarks', '비고')" dataField="remarks"></dxi-column>-->

                <!--                <dxi-column [caption]="utilService.convert('com.text.createdBy')" alignment="center"-->
                <!--                            dataField="createdBy">-->
                <!--                    <dxo-lookup [dataSource]=dsUser displayExpr="name" valueExpr="uid"></dxo-lookup>-->
                <!--                </dxi-column>-->
                <!--                <dxi-column [caption]="utilService.convert('com.text.createdDatetime')"-->
                <!--                            dataField="createdDatetime">-->
                <!--                </dxi-column>-->
                <!--                <dxi-column [caption]="utilService.convert('com.text.modifiedBy')" alignment="center"-->
                <!--                            dataField="modifiedBy">-->
                <!--                    <dxo-lookup [dataSource]=dsUser displayExpr="name" valueExpr="uid"></dxo-lookup>-->
                <!--                </dxi-column>-->
                <!--                <dxi-column [caption]="utilService.convert('com.text.modifiedDatetime')"-->
                <!--                            dataField="modifiedDatetime">-->
                <!--                </dxi-column>-->
                <dxi-column cssClass="pointer-column" type="checkbox"></dxi-column>
                <dxi-column alignment="center"
                            caption="주문일자"
                            dataField="content"
                ></dxi-column>
                <dxi-column alignment="center" caption="주문일자"
                            dataField="user"
                ></dxi-column>
                <dxi-column alignment="center" alignment="center"
                            caption="매장명'"
                            name="title"
                ></dxi-column>
                <dxi-column
                        alignment="center" caption="전표 번호"
                        dataField="date-insert"
                ></dxi-column>
                <dxi-column alignment="center"
                            caption="등록 구분"
                            dataField="date-insert"
                ></dxi-column>
                <dxi-column alignment="center"
                            caption="진행상태"
                            dataField="date-insert"
                ></dxi-column>
                <dxi-column alignment="center"
                            caption="전표구분"
                            dataField="date-insert"
                ></dxi-column>
                <dxi-column alignment="center"
                            caption="입고예정일"
                            dataField="date-insert"
                ></dxi-column>
                <dxi-column alignment="center"
                            caption="수주일자"
                            dataField="date-insert"
                ></dxi-column>
                <dxi-column alignment="center"
                            caption="출고일자"
                            dataField="date-insert"
                ></dxi-column>
                <dxi-column alignment="center"
                            caption="'출고일자"
                            dataField="date-insert"
                ></dxi-column>
                <dxi-column alignment="center"
                            caption="주문금액 [수량]"
                            dataField="date-insert"
                ></dxi-column>
                <dxi-column alignment="center"
                            caption="주문금액 [수량]"
                            dataField="date-insert"
                ></dxi-column>
                <dxi-column alignment="center"
                            caption="주문금액 [수량]"
                            dataField="date-insert"
                ></dxi-column>


                <dxo-summary [calculateCustomSummary]="calculateAreaSummary">
                    <dxi-total-item
                            name="сustomSummary1"
                            showInColumn="SaleAmount"
                            summaryType="custom"
                            valueFormat="currency"
                    >
                    </dxi-total-item>
                    <dxi-total-item
                            showInColumn="content"
                            summaryType="custom"
                            valueFormat="currency">


                    </dxi-total-item>
                    <dxi-total-item
                            showInColumn="user"
                            summaryType="custom"
                            valueFormat="currency">

                    </dxi-total-item>
                    <dxi-total-item
                            showInColumn="title"
                            summaryType="custom"
                            valueFormat="currency">

                    </dxi-total-item>
                    <dxi-total-item
                            showInColumn="date-insert"
                            summaryType="custom"
                            valueFormat="currency">

                    </dxi-total-item>
                    <dxi-total-item
                            showInColumn="author"
                            summaryType="custom"
                            valueFormat="currency">

                    </dxi-total-item>
                    <dxi-total-item
                            showInColumn="date-update"
                            summaryType="custom"
                            valueFormat="currency">

                    </dxi-total-item>
                </dxo-summary>

            </dx-data-grid>


        </dxi-item>
    </dx-accordion>
</div>


<!-- Grid popup-->
<dx-popup #popup
          (onHidden)="onHiddenPopup($event)"
          [dragEnabled]="true"
          [height]="770"
          [resizeEnabled]="true"
          [width]="1140"
>
    <dxi-toolbar-item [options]="{
                      text: utilService.convert1('com.btn.del', '삭제'),
                      stylingMode: 'Contained',
                      type: 'danger',
                      onClick: onClickPopupDelete
                    }"
                      [visible]="!isNewPopup"
                      location="before"
                      toolbar="bottom"
                      widget="dxButton">
    </dxi-toolbar-item>
    <dxi-toolbar-item [options]="{
                      text: utilService.convert1('com.btn.save', '저장'),
                      type: 'success',
                      onClick: onClickPopupSave
                    }"
                      location="after"
                      toolbar="bottom"
                      widget="dxButton">
    </dxi-toolbar-item>
    <dxi-toolbar-item [options]="{
                      text: utilService.convert1('com.btn.close', '닫기'),
                      stylingMode: 'outlined',
                      type: 'normal',
                      onClick: onClickPopupCancel
                    }"
                      location="after"
                      toolbar="bottom"
                      widget="dxButton">
    </dxi-toolbar-item>

    <dx-form #popupForm
             [colCountByScreen]="{
              lg:3, md: 3, sm:2, xs:1
           }"
             [showColonAfterLabel]="false"
    >
        <dxi-item [caption]="utilService.convert(pageInfo.path)" [colCount]="3"
                  [colSpan]="3" cssClass="pop-item-box"
                  itemType="group">

            <dxi-item [editorOptions]="{disabled: !isNewPopup}"
                      [label]="{text: utilService.convert1('mm.code.codeCategory', 'ID')}"
                      dataField="codeCategory">
                <dxi-validation-rule
                        [message]="utilService.convert('com.valid.required', utilService.convert('mm.code.codeCategory'))"
                        type="required">
                </dxi-validation-rule>
            </dxi-item>
            <dxi-item [label]="{text: utilService.convert1('mm.code.name', '공통코드명')}" dataField="name">
                <dxi-validation-rule
                        [message]="utilService.convert('com.valid.required', utilService.convert('mm.code.name'))"
                        type="required">
                </dxi-validation-rule>
            </dxi-item>
            <dxi-item [editorOptions]="{
                  items: dsYN,
                  displayExpr: 'codeName',
                  valueExpr: 'code',
                  searchMode:'contains',
                  searchEnabled: true,
                  openOnFieldClick: false,
                  minSearchLength: 0,
                  placeholder: '',
                  noDataText: utilService.convert('com.txt.noDataText')
                }"
                      [label]="{text: utilService.convert1('mm.code.isUsingSystemFlg', '시스템설정')}"
                      dataField="isUsingSystemFlg"
                      editorType="dxSelectBox">
                <dxi-validation-rule
                        [message]="utilService.convert('com.valid.required', utilService.convert('mm.code.isUsingSystemFlg'))"
                        type="required">
                </dxi-validation-rule>
            </dxi-item>

            <dxi-item [editorOptions]="{
                  items: dsYN,
                  displayExpr: 'codeName',
                  valueExpr: 'code',
                  searchMode:'contains',
                  searchEnabled: true,
                  openOnFieldClick: false,
                  minSearchLength: 0,
                  placeholder: '',
                  noDataText: utilService.convert('com.txt.noDataText')
                }"
                      [label]="{text: utilService.convert1('mm.code.isEditPossibleFlg', '편집여부')}"
                      dataField="isEditPossibleFlg"
                      editorType="dxSelectBox">
                <dxi-validation-rule
                        [message]="utilService.convert('com.valid.required', utilService.convert('mm_code_isEditPossibleFlg'))"
                        type="required">
                </dxi-validation-rule>
            </dxi-item>
            <dxi-item [colSpan]="2"
                      [label]="{text: utilService.convert1('mm.code.remarks', '비고')}"
                      dataField="remarks">
            </dxi-item>
        </dxi-item>
    </dx-form>

    <!--  <span class="dx-form-group-caption" [style]="{marginLeft: '20px'}">-->
    <!--    {{ utilService.convert1('mm.code.popupGridTitle', '코드상세') }}-->
    <!--  </span>-->
    <dx-data-grid #popupGrid
                  (onExporting)="gridUtil.onPageExportXlsx($event)"
                  (onFocusedCellChanged)="onFocusedCellChanging($event, this.popupGrid)"
                  (onInitNewRow)="onInitNewRow($event)"
                  (onToolbarPreparing)="gridUtil.onToolbarPreparingWithComBtn($event, this, addClick, deleteClick)"
                  [allowColumnReordering]="true"
                  [allowColumnResizing]="true"
                  [class]="'pop-item-box'"
                  [columnAutoWidth]="true"
                  [focusedRowEnabled]="true"
                  [height]="450"
                  [rowAlternationEnabled]="true"
                  [showRowLines]="true"
                  columnResizingMode=nextColumn
    >
        <dxo-editing [(changes)]="changes"
                     [allowUpdating]="true"
                     [newRowPosition]="'last'"
                     [selectTextOnEditStart]="true"
                     mode="batch">
        </dxo-editing>
        <dxo-selection mode="single"></dxo-selection>    <!-- single, multiple -->
        <dxo-load-panel [enabled]="true"></dxo-load-panel>
        <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
        <dxo-export [allowExportSelectedData]="true" [enabled]="true"></dxo-export>
        <dxo-search-panel [placeholder]="''"
                          [visible]="true"
                          [width]="240">
        </dxo-search-panel>
        <dxo-paging [enabled]="true" [pageSize]=gridUtil.getPageSize()></dxo-paging>
        <dxo-pager [allowedPageSizes]=gridUtil.getAllowedPageSize()
                   [displayMode]="'full'"
                   [showInfo]="true"
                   [showNavigationButtons]="true"
                   [showPageSizeSelector]="true"
                   [visible]="true">
        </dxo-pager>
        <dxo-state-storing [customLoad]="loadStatePopup"
                           [customSave]="saveStatePopup"
                           [enabled]="true"
                           type="custom">
        </dxo-state-storing>

        <dxi-column [allowEditing]="false" [allowSearch]="false"
                    [showInColumnChooser]="false"
                    [visible]="false"
                    caption="UID"
                    dataField="uid">
        </dxi-column>
        <dxi-column [allowEditing]="false" [allowSearch]="false"
                    [showInColumnChooser]="false"
                    [visible]="false"
                    caption="tenant"
                    dataField="tenant">
        </dxi-column>
        <dxi-column [allowEditing]="false" [allowSearch]="false"
                    [showInColumnChooser]="false"
                    [visible]="false"
                    caption="codeCategoryId"
                    dataField="codeCategoryId">
        </dxi-column>

        <dxi-column [caption]="utilService.convert1('mm.code.code', '코드ID')" dataField="code"></dxi-column>
        <dxi-column [caption]="utilService.convert1('mm.code.name', '코드명')" dataField="name"></dxi-column>
        <dxi-column [caption]="utilService.convert1('mm.code.etcColumn1', '여유컬럼1')"
                    dataField="etcColumn1">
        </dxi-column>
        <dxi-column [caption]="utilService.convert1('mm.code.etcColumn2', '여유컬럼2')"
                    dataField="etcColumn2">
        </dxi-column>
        <dxi-column [caption]="utilService.convert1('mm.code.etcColumn3', '여유컬럼3')"
                    dataField="etcColumn3">
        </dxi-column>
        <dxi-column [caption]="utilService.convert1('mm.code.etcColumn4', '여유컬럼4')"
                    dataField="etcColumn4">
        </dxi-column>
        <dxi-column [caption]="utilService.convert1('mm.code.etcColumn5', '여유컬럼5')"
                    dataField="etcColumn5">
        </dxi-column>
        <dxi-column [caption]="utilService.convert1('mm.code.priority', '우선순위')" dataField="priority"></dxi-column>
    </dx-data-grid>
</dx-popup>
