<text-directory text=" 당일매출현황(쌈지길) 3-2-5"></text-directory>
<ng-form #mainForm>
    <div class="content-headerb">
        <div class="container">
            <div class="row ">

                <div class="col-2 item">
                    <my-data1 label="매출일자"></my-data1>
                </div>
                <div class=" col-4 item">
                    <combo-select colCount="3" label="본부/사업부/매장" optionsl1="전 체" optionsl2="전 체"
                                  optionsl3="전 체"></combo-select>
                </div>

                <div class="col-2 item">
                    <my-select label="구분" optionsl="전 체"></my-select>

                </div>
                <div class="col-3 item">
                    <combo-select colCount="2" label="정열방법" optionsl1="전 체" optionsl2="전 체"></combo-select>

                </div>
                <div class=" col-1 item p-0">
                    <app-button text="조 회"></app-button>
                    <app-button text="엑 셀"></app-button>
                </div>


            </div>
        </div>

    </div>
</ng-form>

<div class="contents-body">


    <dx-accordion [animationDuration]="300"
                  [collapsible]="true"
                  [multiple]="false"
    >
        <dxi-item [title]="utilService.convert1('mm.code.mainGridTitle', '공통코드 리스트')">
            <span *ngIf="themText === 'Y'" class="them"></span>
            <div class="grid">

                <dx-data-grid #mainGrid
                              (onExporting)="gridUtil.onPageExportXlsx($event)"
                              [allowColumnReordering]="true"
                              [allowColumnResizing]="true"
                              [columnAutoWidth]="true"
                              [dataSource]="data"
                              [focusStateEnabled]="true"
                              [focusedRowEnabled]="true"
                              [rowAlternationEnabled]="true"
                              [showRowLines]="true"
                              [width]="400"
                              columnResizingMode="nextColumn"
                              keyExpr="tenant"
                >
                    <dxo-editing mode="batch"></dxo-editing>
                    <dxo-load-panel [enabled]="true"></dxo-load-panel>
                    <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
                    <dxo-export [allowExportSelectedData]="true" [enabled]="true"></dxo-export>
                    <dxo-search-panel [placeholder]="''"
                                      [visible]="true"
                                      [width]="400">
                    </dxo-search-panel>
                    <dxo-paging [enabled]="true" [pageSize]=gridUtil.getPageSize()></dxo-paging>
                    <dxo-pager [allowedPageSizes]=gridUtil.getAllowedPageSize()
                               [displayMode]="'full'"
                               [showInfo]="true"
                               [showNavigationButtons]="true"
                               [showPageSizeSelector]="true"
                               [visible]="true">

                    </dxo-pager>
                    <dxo-state-storing [customLoad]="loadStateMain"
                                       [customSave]="saveStateMain"
                                       [enabled]="true"
                                       type="custom">
                    </dxo-state-storing>
                    <dxi-column [allowEditing]="false" [allowSearch]="false"
                                [showInColumnChooser]="false"
                                [visible]="false"
                                caption="tenant"
                                dataField="tenant">
                    </dxi-column>
                    <dxi-column *ngFor="let item of dataTitle.slice(0, 4)" alignment="center"
                                caption="{{item.title}}" dataField="{{item.dataField}}"
                    ></dxi-column>

                </dx-data-grid>
                <dx-data-grid #mainGrid1
                              [allowColumnReordering]="true"
                              [allowColumnResizing]="true"
                              [columnAutoWidth]="true"
                              [dataSource]="data"
                              [focusStateEnabled]="true"
                              [focusedRowEnabled]="true"
                              [rowAlternationEnabled]="true"
                              [showRowLines]="true"
                              [width]="1100"
                              class="dx-datagrid-table-wrapper"
                              keyExpr="tenant"

                >
                    <dxo-editing mode="batch"></dxo-editing>
                    <dxo-load-panel [enabled]="true"></dxo-load-panel>
                    <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
                    <dxo-export [allowExportSelectedData]="true" [enabled]="true"></dxo-export>
                    <dxo-search-panel [placeholder]="''"
                                      [visible]="true"
                                      [width]="240">
                    </dxo-search-panel>
                    <dxo-paging [enabled]="true" [pageSize]=gridUtil.getPageSize()></dxo-paging>
                    <dxo-pager [allowedPageSizes]=gridUtil.getAllowedPageSize()
                               [displayMode]="'full'"
                               [showInfo]="true"
                               [showNavigationButtons]="true"
                               [showPageSizeSelector]="true"
                               [visible]="true">
                    </dxo-pager>
                    <dxo-state-storing [customLoad]="loadStateMain"
                                       [customSave]="saveStateMain"
                                       [enabled]="true"
                                       type="custom">
                    </dxo-state-storing>
                    <dxi-column [allowEditing]="false" [allowSearch]="false"
                                [showInColumnChooser]="false"
                                [visible]="false"
                                caption="tenant"
                                dataField="tenant">
                    </dxi-column>


                    <dxi-column *ngFor="let item of dataTitle.slice(5)" alignment="center"
                                caption="{{item.title}}" dataField="{{item.dataField}}"
                    ></dxi-column>
                    <!--                    <dxi-column alignment="center" caption="매출시간"-->
                    <!--                                dataField="user"-->
                    <!--                    ></dxi-column>-->
                    <!--                    <dxi-column alignment="center" caption="결제시간"-->
                    <!--                                dataField="user"-->
                    <!--                    ></dxi-column>-->
                    <!--                    <dxi-column alignment="center" caption="주기시간"-->
                    <!--                                dataField="user"-->
                    <!--                    ></dxi-column>-->
                    <!--                    <dxi-column alignment="center" caption="매출구분"-->
                    <!--                                dataField="user"-->
                    <!--                    ></dxi-column>-->
                    <!--                    <dxi-column alignment="center" caption="총매출액"-->
                    <!--                                dataField="user"-->
                    <!--                    ></dxi-column>-->
                    <!--                    <dxi-column alignment="center" caption="순매출액"-->
                    <!--                                dataField="user"-->
                    <!--                    ></dxi-column>-->
                    <!--                    <dxi-column alignment="center" caption="부가세"-->
                    <!--                                dataField="user"-->
                    <!--                    ></dxi-column>-->
                    <!--                    <dxi-column alignment="center" caption="봉사료"-->
                    <!--                                dataField="user"-->
                    <!--                    ></dxi-column>-->
                    <!--                    <dxi-column alignment="center" caption="할 인"-->
                    <!--                                dataField="user"-->
                    <!--                    ></dxi-column>-->
                    <!--                    <dxi-column caption="고객수">-->
                    <!--                        <dxi-column alignment="center" dataField="내국"></dxi-column>-->
                    <!--                        <dxi-column alignment="center" dataField="외국"></dxi-column>-->
                    <!--                    </dxi-column>-->
                    <!--                    <dxi-column alignment="center" caption="티머니"-->
                    <!--                                dataField="user"-->
                    <!--                    ></dxi-column>-->

                    <!--                    <dxi-column alignment="center" caption="캐시비"-->

                    <!--                    ></dxi-column>-->
                    <!--                    <dxi-column alignment="center" caption="현 금"-->

                    <!--                    ></dxi-column>-->
                    <!--                    <dxi-column caption="카 드">-->
                    <!--                        <dxi-column alignment="center" dataField="카드매출"></dxi-column>-->
                    <!--                        <dxi-column alignment="center" dataField="카드사"></dxi-column>-->
                    <!--                    </dxi-column>-->
                    <!--                    <dxi-column alignment="center" caption="포인트"-->

                    <!--                    ></dxi-column>-->
                    <!--                    <dxi-column caption="상품권">-->
                    <!--                        <dxi-column alignment="center" dataField="상품권매출"></dxi-column>-->
                    <!--                        <dxi-column alignment="center" dataField="현금환불"></dxi-column>-->
                    <!--                        <dxi-column alignment="center" dataField="상품권환불"></dxi-column>-->
                    <!--                    </dxi-column>-->
                    <!--                    <dxi-column alignment="center" caption="외 상"-->

                    <!--                    ></dxi-column>-->
                    <!--                    <dxi-column alignment="center" caption="OK캐쉬백	"-->

                    <!--                    ></dxi-column>-->
                    <!--                    <dxi-column alignment="center" caption="선불카드"-->

                    <!--                    ></dxi-column>-->
                    <!--                    <dxi-column alignment="center" caption="기타"-->

                    <!--                    ></dxi-column>-->
                    <!--                    <dxi-column alignment="center" caption="간편결제"-->

                    <!--                    ></dxi-column>-->
                </dx-data-grid>
            </div>


        </dxi-item>
    </dx-accordion>
</div>


