.content-header-text {
  margin-bottom: 15px;


  h2 {
    display: inline-block;
    font-size: 1.5rem;
    line-height: 30px;
    margin: 0;
    margin-right: 20px;
    color: #242934;
    font-weight: 500;
    letter-spacing: -.03em;
    display: flex;
    align-items: center;

    i {
      padding: 10px;
      font-size: 1.2rem;
      margin-right: 3px;
      color: #ffb709;

    }

  }

}

.content-headerb {
  background-color: #fff;
  border-radius: 15px;
  margin-bottom: 24px;
  padding: 24px 24px 18px 4px;

  .item {
    padding-top: 0px;
    padding-bottom: 6px;
    padding-left: 20px;
    padding-right: 20px;
    min-height: 40px;
  }


}

