<!-- 공통 > 사용자 -->
<div class="contents-header">
  <dx-button #bookmarkBtn
             class="bookmark-btn"
             [icon]="'star'"
             (onClick)="utilService.onBookmarkToggle(this.bookmarkBtn)">
  </dx-button>
  <h2 class="content-block page-title">{{utilService.convert1(pageInfo.path, '사용자')}}</h2>
  <span class="page-breadcrumb">{{pageInfo.pathName}}</span>
  <span class="btngroup page-button-group">
    <dx-button icon="add"
               type="default"
               [text]="utilService.convert1('com.btn.new', '신규')"
               (onClick)="onNew($event)">
    </dx-button>
  </span>
</div>

<div class="contents-body">
  <div class="search_foldable">
    <div class="search-box">
      <dx-form #mainForm
               class="search-form-box"
               [showColonAfterLabel]="false"
               [minColWidth]="300"
               [colCountByScreen]="{lg:3, md: 3, sm:2, xs:1}">
        <dxi-item itemType="group" [colCount]="3" [colSpan]="3">

          <dxi-item dataField="tenant"
                    [visible]="false"
                    [editorOptions]="{ value: G_TENANT }">
          </dxi-item>

          <dxi-item dataField="usr" [label]="{text: utilService.convert1('mm.user.id', '사용자ID')}"></dxi-item>
          <dxi-item dataField="name" [label]="{text: utilService.convert1('mm.user.name', '사용자명')}"></dxi-item>
          <dxi-item dataField="actFlg" [label]="{text: utilService.convert1('mm.user.actFlg', '사용여부')}"
                    editorType="dxSelectBox"
                    [editorOptions]="{
                      items: dsYN,
                      displayExpr: 'codeName',
                      valueExpr: 'code',
                      searchMode:'contains',
                      searchEnabled: true,
                      openOnFieldClick: false,
                      minSearchLength: 0,
                      placeholder: '',
                      showClearButton: true
                   }"
          >
          </dxi-item>
        </dxi-item>
      </dx-form>

      <div class="search-btn-group">
        <dx-button icon="refresh"
                   type="form"
                   class="reset-btn"
                   [text]="utilService.convert1('com.btn.reset', '초기화')"
                   [focusStateEnabled]="false"
                   (onClick)="utilService.onReset(this.mainForm)">
        </dx-button>
        <dx-button icon="search"
                   type="form"
                   class="search-btn"
                   [text]="utilService.convert1('com.btn.search', '조회')"
                   [focusStateEnabled]="false"
                   (onClick)="onSearch()">
        </dx-button>
      </div>
    </div>

    <div class="foldable-btn">
      <dx-button #foldableBtn type="default"
                 (onClick)="utilService.onFoldable(this.mainForm, this.foldableBtn)">
      </dx-button>
    </div>
  </div>

  <dx-accordion [collapsible]="true"
                [multiple]="false"
                [animationDuration]="300"
  >
    <dxi-item [title]="utilService.convert1('mm.user.mainGridTitle', '사용자 리스트')">
      <dx-data-grid #mainGrid
                    [allowColumnResizing]="true"
                    [allowColumnReordering]="true"
                    [columnAutoWidth]="true"
                    [focusedRowEnabled]="true"
                    [rowAlternationEnabled]="true"
                    [showRowLines]="true"
                    (onToolbarPreparing)="gridUtil.onToolbarPreparing($event)"
                    (onExporting)="gridUtil.onPageExportXlsx($event)"
                    (onRowDblClick)="onRowDblClick($event)"
                    columnResizingMode=nextColumn
      >
        <dxo-editing mode="batch"></dxo-editing>
        <dxo-selection mode="single"></dxo-selection>
        <dxo-load-panel [enabled]="true"></dxo-load-panel>
        <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
        <dxo-export [enabled]="true" [allowExportSelectedData]="true"></dxo-export>
        <dxo-search-panel [visible]="true"
                          [width]="240"
                          [placeholder]="">
        </dxo-search-panel>
        <dxo-paging [enabled]="true" [pageSize]=gridUtil.getPageSize()></dxo-paging>
        <dxo-pager [visible]="true"
                   [allowedPageSizes]=gridUtil.getAllowedPageSize()
                   [displayMode]="'full'"
                   [showPageSizeSelector]="true"
                   [showInfo]="true"
                   [showNavigationButtons]="true">
        </dxo-pager>
        <dxo-state-storing type="custom"
                           [enabled]="true"
                           [customLoad]="loadState"
                           [customSave]="saveState">
        </dxo-state-storing>

        <dxi-column dataField="uid" caption="UID"
                    [visible]="false"
                    [allowSearch]="false"
                    [showInColumnChooser]="false"
                    [allowEditing]="false">
        </dxi-column>

        <dxi-column dataField="usr" [caption]="utilService.convert1('mm.user.id', '사용자ID')"></dxi-column>
        <dxi-column dataField="name" [caption]="utilService.convert1('mm.user.name', '사용자명')"></dxi-column>
        <dxi-column dataField="userType" [caption]="utilService.convert1('mm.user.userType', '유형')">
          <dxo-lookup [dataSource]=dsUserType displayExpr="codeName" valueExpr="code"></dxo-lookup>
        </dxi-column>
        <dxi-column dataField="phone" [caption]="utilService.convert1('mm.user.phone', '핸드폰번호')"></dxi-column>
        <dxi-column dataField="email" [caption]="utilService.convert1('mm.user.email', '이메일')"></dxi-column>
        <dxi-column dataField="actFlg" alignment="center" [caption]="utilService.convert1('mm.user.actFlg', '사용여부')"></dxi-column>

        <dxi-column dataField="remarks" [caption]="utilService.convert1('com.text.remarks', '비고')"></dxi-column>

        <dxi-column dataField="createdUserName" alignment="center"
                    [caption]="utilService.convert1('com.text.createdBy', '작성자')">
        </dxi-column>
        <dxi-column dataField="createdDatetime"
                    [caption]="utilService.convert1('com.text.createdDatetime', '작성일시')">
        </dxi-column>
        <dxi-column dataField="modifiedUserName" alignment="center"
                    [caption]="utilService.convert1('com.text.modifiedBy', '수정자')">
        </dxi-column>
        <dxi-column dataField="modifiedDatetime"
                    [caption]="utilService.convert1('com.text.modifiedDatetime', '수정일시')">
        </dxi-column>
      </dx-data-grid>
    </dxi-item>
  </dx-accordion>
</div>

<!--메인 팝업-->
<dx-popup #popup
          [width]="1140"
          [height]="450"
          [dragEnabled]="true"
          [resizeEnabled]="true"
          (onHidden)="onHiddenPopup($event)"
>
  <dxi-toolbar-item toolbar="bottom" location="before">
    <dx-button type="danger"
               [visible]="!isNewPopup"
               [text]="utilService.convert1('com.btn.del', '삭제')"
               (onClick)="onClickPopupDelete()">
    </dx-button>
  </dxi-toolbar-item>
  <dxi-toolbar-item toolbar="bottom" location="after">
    <dx-button type="success"
               [text]="utilService.convert1('com.btn.save', '저장')"
               (onClick)="onClickPopupSave()">
    </dx-button>
    <dx-button type="normal"
               [text]="utilService.convert1('com.btn.close', '닫기')"
               (onClick)="onClickPopupCancel($event)">
    </dx-button>
  </dxi-toolbar-item>

  <dx-form #popupForm
           labelLocation="left"
           [colCount]="3"
           [showColonAfterLabel]="false"
           (focusin)="setChangeMask($event)"
           (focusout)="setChangeMask($event)"
           scrollingEnabled="true"
           class="non-horizenscroll"
  >
    <dxi-item itemType="group" caption="사용자관리" [colCount]="3" [colSpan]="3" cssClass="pop-item-box no-border">
      <dxi-item dataField="usr"
                [editorOptions]="{disabled: !isNewPopup}"
                [label]="{text: utilService.convert1('mm.user.id', '사용자ID')}">
        <dxi-validation-rule
          type="required"
          [message]="utilService.convert('com.valid.required', utilService.convert('mm.user.id'))">
        </dxi-validation-rule>
      </dxi-item>
      <dxi-item dataField="password"
                [label]="{text: utilService.convert1('mm.user.password', '사용자 비밀번호')}">
        <span class="btngroup page-button-group">
          <dx-button type="form"
                     [disabled]="isNewPopup"
                     [text]="utilService.convert1('mm.user.changePwd.btn', '비밀번호 변경')"
                     (onClick)="passwordPopupOpen()">
          </dx-button>
          <dx-button type="form"
                     [disabled]="isNewPopup"
                     [text]="utilService.convert1('com.btn.reset', '초기화')"
                     (onClick)="resetPassword()">
          </dx-button>
        </span>
      </dxi-item>
      <dxi-item dataField="userType"
                [label]="{text:utilService.convert1('mm.user.userType', '유형')}"
                editorType="dxSelectBox"
                disabled="true"
                [editorOptions]="{
                  items: dsUserType,
                  displayExpr: 'codeName',
                  valueExpr: 'code',
                  searchMode:'contains',
                  searchEnabled: true,
                  openOnFieldClick: false,
                  minSearchLength: 0,
                  placeholder: '',
                  noDataText: utilService.convert('com.txt.noDataText')
                }">
      </dxi-item>

      <dxi-item dataField="name"
                [label]="{text: utilService.convert1('mm.user.name', '사용자명')}">
        <dxi-validation-rule
          type="required"
          [message]="utilService.convert('com.valid.required', utilService.convert('mm.user.name'))">
        </dxi-validation-rule>
      </dxi-item>
      <dxi-item dataField="phone"
                [label]="{text: utilService.convert1('mm.user.phone', '핸드폰번호')}"
                [editorOptions]="phoneEditorOptions">
        <dxi-validation-rule
          type="required"
          [message]="utilService.convert('com.valid.required', utilService.convert('mm.user.phone'))">
        </dxi-validation-rule>
      </dxi-item>
      <dxi-item dataField="tel"
                [label]="{text: utilService.convert1('mm.user.tel', '전화번호')}"
                [editorOptions]="telEditorOptions">
      </dxi-item>

      <dxi-item dataField="email" [label]="{text: utilService.convert1('mm.user.email', '이메일')}">
        <dxi-validation-rule
          type="required"
          [message]="utilService.convert('com.valid.required', utilService.convert('mm.user.email'))">
        </dxi-validation-rule>
        <dxi-validation-rule
          type="email"
          [message]="utilService.convert('com.valid.maskInvalid', utilService.convert('mm.user.email'))">
        </dxi-validation-rule>
      </dxi-item>
      <dxi-item dataField="actFlg" editorType="dxSelectBox"
                [label]="{text: utilService.convert1('mm.user.actFlg', '사용여부')}"
                [editorOptions]="{
                  items: dsYN,
                  displayExpr: 'codeName',
                  valueExpr: 'code',
                  searchMode:'contains',
                  searchEnabled: true,
                  openOnFieldClick: false,
                  minSearchLength: 0,
                  placeholder: ''
                }">
      </dxi-item>
      <dxi-item itemType="empty"></dxi-item>

      <dxi-item dataField="remarks" [colSpan]="3" editorType="dxTextArea"
                [label]="{text: utilService.convert1('mm.user.remarks', '비고')}"
                [editorOptions]="{placeholder: utilService.convert('com.txt.noContent')}">
      </dxi-item>
    </dxi-item>
  </dx-form>
</dx-popup>

<!--비밀번호 팝업-->
<app-password #password></app-password>





