@import "../../../themes/generated/variables.base.scss";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap');
:host {
  width: 100%;
  height: 100%;
}
.dx-card-wrap{
  width: 100vw; 
  flex-grow: 1;
  background: url('/assets/images/signup_bg.png')no-repeat; 
  background-size: cover; 
  background-position: center center;
}
.single-card {
  .dx-card {
    width: 980px;
    height: auto;
    margin: auto auto;
    padding: 0px;
    flex-grow: 0;
    text-align: center;

    :host-context(.screen-x-small) & {
      width: 100%;
      height: 100%;
      border-radius: 0;
      box-shadow: none;
      margin: 0;
      border: 0;
      flex-grow: 1;
    }

    .header {
      margin-bottom: 60px;

      .title {
        color: $base-text-color;
        line-height: 1;
        font-weight: 500;
        font-family: 'Lato', sans-serif;
        font-size: 1.750rem;
        font-weight: 700;
        padding-bottom: 18px
      }

      .description {
        color: rgba($base-text-color, alpha($base-text-color) * 0.7);
        line-height: 1;
        font-family: 'Lato', sans-serif;
        font-size: .938rem; 
        font-weight: 300;
      }
    }
  }
}
.dx-card.content {
  width: 510px;
  background-color: transparent;
  border: none;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.dx-card.content h2 {
  margin: 0 auto;
  width: 230px;
  height: 75px;
  text-indent: -999px;
  background: url(/assets/images/sign_logo.png) 50% 50% no-repeat;
  margin-bottom: 25px;
}

.login-content-box {
  width: 510px;
  background: #fff;
  border-radius: 5px;
  margin: 0 auto 30px;
  display: flex;
  .login-copyright{
    font-size: .813rem;
  }
}


.login-contnet-form {
  width: 100%;
  padding: 45px 65px 30px 65px;
}

.login-contnet-form input, .login-contnet-form select, .login-contnet-form .dx-button, .login-contnet-form .login-link {
  height: 40px !important;
  font-size: 1.4rem !important;
}

.login-copyright {
  font-size: .875rem;
  line-height: 1.2;
  text-align: center;
  color: #999999;
  margin: 0; 
}

.login-create-account {
  border-color: #eee;
}

.login-create-account:hover {
  border-color: #fff;
}

.login-contnet-form .link a, .login-contnet-form .login-link a {
  text-decoration: none;
}

.login-contnet-form .dx-dropdowneditor-icon {
  font-size: 12px;
}

.login-contnet-form .dx-dropdowneditor-button {
  width: 24px;
  min-width: 24px;
}

.login-contnet-form .dx-dropdowneditor-icon {
  width: 22px;
}

.login-contnet-form .dx-dropdowneditor-icon:before {
  margin-left: -9px;
}