

<dx-scroll-view height="100%" width="100%" class="with-footer single-card">
  <div class="dx-card-wrap">
    <div class="dx-card content">
      <h2>BI</h2>
      <div class="login-content-box">

        <div class="login-contnet-form">
          <div class="header">
            <div class="title">Welcome !</div>
            <div class="description">Complicated Freight Transportation, Right Now Come to the Easiest and Fastest Transportation Platform 'All-Right'!</div>
          </div>
          <ng-content></ng-content>
          <p class="login-copyright"> Copyrightⓒ 2019-2022 ALLRIGHT Inc. All right reserved. </p>

        </div>
      </div>
      <p class="login-copyright">AllRight 화면 해상도는 1920 x 1080 에 최적화 되어 있습니다.</p>
    </div>
  </div>
</dx-scroll-view>
