:host {
  width: 100%;

  .navigation-header-logo{
    height: 152px; 
    display: flex;

  }
}

#navigation-header {

  :host-context(.screen-x-small) & {
    padding-left: 20px;
  }

  :host-context(.dx-theme-generic) & {
    padding-top: 10px;
    padding-bottom: 10px;
  }

}
